[package]
name = "weaver-editor-core"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
ropey = "1.6"
smol_str = "0.3"
thiserror = { workspace = true }
tracing = { workspace = true }
web-time = "1.1"

[dev-dependencies]
