output {
    lexicons "crates/weaver-api/lexicons"
    codegen "crates/weaver-api/src"
    cargo-toml "crates/weaver-api/Cargo.toml"
}


// source "bluesky" type="git" priority=101 {
//     repo "https://github.com/bluesky-social/atproto"
//     pattern "**/*.json"
// }

source "weaver" type="local" priority=100 {
    path "/home/orual/Projects/weaver.sh/crates/weaver-api/lexicons"
}


source "weaver" type="local" priority=200 {
    path "./lexicons"
}

source "deckbelcher" type="git" priority=100 {
    repo "https://tangled.org/aviva.gay/deckbelcher"
    pattern "**/*.json"
}
