.accordion-trigger {
    display: inline-flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    padding: 0;
    border: none;
    background-color: transparent;
    outline: none;
    text-align: left;
}

.accordion-trigger:hover {
    cursor: pointer;
}

.accordion-content {
    display: grid;
    overflow: hidden;
    background-color: transparent;
    transition: grid-template-rows 300ms cubic-bezier(0.87, 0, 0.13, 1);
    grid-template-rows: 0fr;
}

.accordion-content[data-open="true"] {
    grid-template-rows: 1fr;
}

.accordion-content > * {
    overflow: hidden;
}

.accordion-item {
    box-sizing: border-box;
}

.accordion-expand-icon {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    fill: none;
    stroke: var(--color-subtle);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
    transition: rotate 150ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 0.35rem;
    opacity: 0.7;
}

.accordion-item[data-open="true"] .accordion-expand-icon {
    rotate: 180deg;
}
