.toast-container {
  position: fixed;
  z-index: 9999;
  right: 20px;
  bottom: 20px;
  max-width: 350px;
}

.toast-list {
  display: flex;
  flex-direction: column-reverse;
  padding: 0;
  margin: 0;
  gap: 0.75rem;
}

.toast-item {
  display: flex;
}

.toast {
  z-index: calc(var(--toast-count) - var(--toast-index));
  display: flex;
  overflow: hidden;
  width: 18rem;
  min-height: 4rem;
  height: auto;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  border: 1px solid var(--color-border);
  margin-top: -4rem;
  background-color: var(--color-surface);
  box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
  opacity: calc(1 - var(--toast-hidden));
  transform: scale(
    calc(100% - var(--toast-index) * 5%),
    calc(100% - var(--toast-index) * 2%)
  );
  transition: transform 0.2s ease, margin-top 0.2s ease, opacity 0.2s ease;

  --toast-hidden: calc(min(max(0, var(--toast-index) - 2), 1));
}

.toast-container:not(:hover, :focus-within)
  .toast[data-toast-even]:not([data-top]) {
  animation: slide-up-even 0.2s ease-out;
}

.toast-container:not(:hover, :focus-within)
  .toast[data-toast-odd]:not([data-top]) {
  animation: slide-up-odd 0.2s ease-out;
}

@keyframes slide-up-even {
  from {
    transform: translateY(0.5rem)
      scale(
        calc(100% - var(--toast-index) * 5%),
        calc(100% - var(--toast-index) * 2%)
      );
  }

  to {
    transform: translateY(0)
      scale(
        calc(100% - var(--toast-index) * 5%),
        calc(100% - var(--toast-index) * 2%)
      );
  }
}

@keyframes slide-up-odd {
  from {
    transform: translateY(0.5rem)
      scale(
        calc(100% - var(--toast-index) * 5%),
        calc(100% - var(--toast-index) * 2%)
      );
  }

  to {
    transform: translateY(0)
      scale(
        calc(100% - var(--toast-index) * 5%),
        calc(100% - var(--toast-index) * 2%)
      );
  }
}

.toast[data-top] {
  animation: slide-in 0.2s ease-out;
}

.toast-container:hover .toast[data-top],
.toast-container:focus-within .toast[data-top] {
  animation: slide-in 0 ease-out;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(100%)
      scale(
        calc(110% - var(--toast-index) * 5%),
        calc(110% - var(--toast-index) * 2%)
      );
  }

  to {
    opacity: 1;
    transform: translateY(0)
      scale(
        calc(100% - var(--toast-index) * 5%),
        calc(100% - var(--toast-index) * 2%)
      );
  }
}

.toast-container:hover .toast,
.toast-container:focus-within .toast {
  margin-top: var(--toast-padding);
  opacity: 1;
  transform: scale(calc(100%));
}

.toast[data-type="success"] {
  border-left: 4px solid var(--color-success);
}

.toast[data-type="error"] {
  border-left: 4px solid var(--color-error);
}

.toast[data-type="warning"] {
  border-left: 4px solid var(--color-warning);
}

.toast[data-type="info"] {
  border-left: 4px solid var(--color-secondary);
}

.toast-content {
  flex: 1;
  margin-right: 8px;
}

.toast-title {
  margin-bottom: 4px;
  color: var(--color-emphasis);
  font-weight: 600;
}

.toast-description {
  color: var(--color-text);
  font-size: 0.875rem;
}

.toast-close {
  align-self: flex-start;
  padding: 0;
  border: none;
  margin: 0;
  background: none;
  color: var(--color-muted);
  cursor: pointer;
  font-size: 18px;
  line-height: 1;
}

.toast-close:hover {
  color: var(--color-text);
}
