[package]
name = "weaver-common"
version.workspace = true
edition.workspace = true
license.workspace = true
publish = false

[features]
default = ["dev"]
dev = []
native = ["tokio"]

[dependencies]
n0-future = { workspace = true }
weaver-workspace-hack = { version = "0.1", path = "../weaver-workspace-hack" }
markdown-weaver = { workspace = true }
#libsqlite3-sys = { version = "0.30.1", features = ["bundled"] }

http = "1.3.1"

atrium-xrpc = "0.12.3"
atrium-api =  "0.25.3"
atrium-common = "0.1.1"
atrium-identity = "0.1.3"
atrium-oauth = "0.1.1"


merde = { workspace = true, features = ["yaml", "serde"] }
serde = { workspace = true }
serde_json = { version = "1.0.140", features = ["preserve_order", "raw_value"] }
serde_ipld_dagcbor = { version = "0.6.1", features = ["codec"] }
serde_cbor = "0.11.2"
serde_html_form = "0.2.7"
serde_bytes = "0.11.17"

minijinja = { workspace = true, features = [
  "builtins",
  "debug",
  "deserialization",
  "macros",
  "multi_template",
  "adjacent_loop_items",
  "std_collections",
  "serde",
] }


miette = { workspace = true }
owo-colors = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }
hickory-resolver = "0.24.1"
toml = "0.8.22"
#jose = { version = "0.0.2", features = ["crypto-rustcrypto"] }
jose-jwk = "0.1.2"
reqwest = "0.12.15"
tokio = { version = "1.44", features = ["full"], optional = true }

tower-service = "0.3.3"
tower-layer = "0.3.3"
multibase = "0.9.1"
dirs = "6.0.0"



[dev-dependencies]
tokio = { version = "1", features = ["macros", "rt"] }

[build-dependencies]
esquema-codegen = { workspace = true }
